.logo{
    margin-left: 46% ; 
    margin-right: auto;
    width: 130px ;
    height: 100px;
}

.container{
    overflow:hidden;
}

.banner{
    margin-left: 20% ; 
    margin-right: auto;
    width: 400px;
    height: 130px;
}
.index-header{
    text-align: center;
}

.para{
    text-align: center;
}
img.sainsburys{
    width: 150px;
    height: auto;
    border-radius: 90%;

    
}
img.morrisons{
    width: 150px;
    height: auto;
    border-radius: 20%;

    
}
img.Lidl{
    width: 150px;
    height: auto;
    border-radius: 90%;

    
}
img.asda{
    width: 150px;
    height: auto;
    border-radius: 50%;

    
}
img.tesco{

    width: 150px;
    height: auto;
    border-radius: 90%;

    
}

.fa-star,
.fa-star-half-alt{
    color: darkorange;
    padding: 3% 0;
}

.nav-item{
    display: block;
    padding-left: 40px;
    
}
.empty_cart{
    display: block;
    text-align: right;
    margin-right: 10%;
}
.cart-results{
    margin-left: 25%;
    margin-right: auto;
}
.logout{
    margin-left: 5%;
}
.email_login{
    text-decoration: underline;
}
.center1{
    margin-left: 40%;
    margin-right: auto;
}
.center2{
    margin-left: 40%;
    margin-right: auto;
    margin-top: 50px;
}
#user-button{
    float: right;
    margin: 20px;
}
#home-button{
    margin-bottom: 20px;
    margin-top: 20px;
}
.center-form{
    text-align: center;
}